.card-mon-profil{
    width: 800px;
    max-width: 100%;
    display: block;
    margin: auto;
}


.div-button {
    display: flex;
    justify-content: space-between;
}


.panier-table td img{
width: 75px;
margin: auto;
display: block;
max-width: 100%;
height: auto;
}

.div-panier-table{
    padding-top: 50px;
}

.panier-table {
max-width: 100%;
margin: auto;
text-align: left;
border-collapse: collapse;
margin-bottom: 50px;
border: 3px  ridge rgba(0,0,0,.12);
background-image: url("../../../../../assets/images/theme/recette.jpg");
}


.panier-table th {
padding: 12px;
text-align: left;
margin-bottom: 25px;
border-bottom: 3px  ridge rgba(0,0,0,.12);
margin-right: 10px;
margin-left: 10px;
min-width: 60px;
}

.panier-table td {
padding:12px;
}



.add-button-div button{
display: block;
margin: auto;
}

.add-button-div button{
    display: block;
    margin: auto;
}

.div-panier-end{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}