<div class="titre-page"> <span> Liste des commandes </span></div>

    <div *ngIf="this.commandes.length > 0 "  >
        <div *ngFor="let commande of commandes;let indexOfElement=index">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Commande #{{indexOfElement+1}}                                
                    </mat-panel-title>
                    <mat-panel-description>
                        {{commande.prixTotal}} €
                      </mat-panel-description>
                      <mat-panel-description>
                        {{commande.date}}
                      </mat-panel-description>
                  </mat-expansion-panel-header>
                  <table class="panier-table">
                    <tr >
                    <th>Cookie</th>
                    <th>Quantité</th>
                    <th>Prix total par Cookie </th>
                    </tr>
                    <tr class="table-c" *ngFor="let cookie of commande.listeIdCookies;let indexOfElement2=index" >
                        <td *ngIf="indexOfElement2>0"> {{getCookieName(cookie)}} </td>
                        <td *ngIf="indexOfElement2>0"> {{commande.listeNbCookies[indexOfElement2]}}</td>
                        <td *ngIf="indexOfElement2>0">  {{commande.listePrixTotalParCookie[indexOfElement2]}} € </td>                            
                    </tr>

                </table>
                </mat-expansion-panel>
              </mat-accordion>
            

    </div>


    </div>



