<mat-card-title> Liste des cookies</mat-card-title>
 
<div class="add-button-div">
  <button mat-raised-button color="primary" [routerLink]="['add-cookie']">Ajouter <mat-icon>add_circle</mat-icon></button> 
</div>

<table class="cookies-management-table">
  <tr>
    <th>Image</th>
    <th>Nom</th>
    <th>Prix</th>
    <th>Recette</th>
    <th>Modifier</th>
    <th>Supprimer</th>
  </tr>
  <tr *ngFor="let c of cookies; index as indexOfElement">
    <td> <img class="cookie-img-tab" mat-card-xl-image src="{{c.image}}" ></td>
    <td>{{c.gout}}</td>
    <td>{{c.prix}}</td>
    <td>{{c.recette}}</td>
    <td><button mat-raised-button color="primary" [routerLink]="['update-cookie', c.id]"> <mat-icon>edit</mat-icon></button> </td>
    <td> <button mat-raised-button color="warn" type="checkbox" (click)="delete(c)"> <mat-icon>delete</mat-icon></button> </td>
  </tr>

</table>



<router-outlet></router-outlet>
