footer {
    position: absolute;
    margin-top: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3e2723 ;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-logo {
    width: 100px;
}

