<mat-card>
    <mat-card-title>Panier</mat-card-title>

    <div>
       Prix total:  {{panier.prixTotal}} 
    </div>
    <mat-list>
        <mat-list-item class="horizontal-mat-list-item"> 
            <div class="flex-container-tab"> 
                <div class="element-tab"> Images </div> 
                <div class="element-tab"> Nom  </div> 
                <div class="element-tab">  Quantite </div> 
                <div class="element-tab">  Prix Total par Cookie </div>  
                <div class="element-tab">  Action </div> 
            </div> </mat-list-item>
    </mat-list>


    <mat-list>
        <mat-list-item *ngFor="let cookie of panier.listeIdCookies;let indexOfElement=index"> 
            <div *ngIf="indexOfElement>0" class="flex-container-tab"> 
                    <div class="element-tab"> <img class="image-panier" src="{{getCookieImage(cookie)}}"/>   </div>  
                    <div class="element-tab"> <span> {{getCookieName(cookie)}} </span>  </div>  
                    <div class="element-tab"> {{this.panier.listeNbCookies[indexOfElement]}}</div> 
                    <div class="element-tab"> {{this.panier.listePrixTotalParCookie[indexOfElement]}} </div> 
                    <div class="element-tab">  <button mat-raised-button color="warn" type="checkbox" (click)="delete(indexOfElement)" > Supprimer</button> </div> 
            </div>  
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</mat-card> 
