<mat-toolbar class="header-toolbar" >
    <!-- <a mat-button routerLink="accueil"> Accueil</a> -->

      <a mat-button routerLink="cookies"> Nos cookies</a>
      <a mat-button  *ngIf="estUserClassique()" mat-button routerLink="profil">Profil</a>
  
      <a><img routerLink="accueil" class="logo" src="../../../assets/images/logo/logo.svg"> </a>
  
      <a mat-button *ngIf="estUserClassique()" mat-button routerLink="panier" ><span > Panier</span>  </a>
      <a mat-button  *ngIf="estAdmin()" mat-button routerLink="admin/"><mat-icon>build</mat-icon> Gestion des produits</a>
      <a mat-button  *ngIf="estAdmin()" mat-button routerLink="admin/liste-commandes"><mat-icon>view_list</mat-icon> Liste des commandes</a>
  
      <a mat-button  *ngIf="estCo()" mat-button (click)="deconnexion()" > Déconnexion</a>
  
      <a mat-button  *ngIf="!estCo()" mat-button routerLink="connexion"> Connexion</a>

</mat-toolbar>



<mat-toolbar class="header-toolbar-mobile">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openMenu()" [style.display]='isOpenDisplay'>
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openMenu()" [style.display]='isCloseDisplay'>
    <mat-icon>close</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <a><img routerLink="accueil" class="logo" src="../../../assets/images/logo/logo.svg"> </a>
  <span class="example-spacer"></span>
  <a> <img routerLink="accueil" class="logo" id="use-to-center" src="../../../assets/images/logo/logo.svg"> </a>
</mat-toolbar>
<div class="spacer-menu-mobile"></div>

<div id="menu-mobile" [style.display]='menuMobileDisplay' >
  <a mat-button routerLink="accueil" (click)="openMenu()">Accueil</a>
  <a mat-button routerLink="cookies" (click)="openMenu()">  Nos cookies</a>
  <a mat-button  *ngIf="estUserClassique()" mat-button routerLink="profil" (click)="openMenu()">Profil</a>
  <a mat-button *ngIf="estUserClassique()" mat-button routerLink="panier" (click)="openMenu()" ><span > Panier</span>  </a>
  <a mat-button  *ngIf="estAdmin()" mat-button routerLink="admin/" (click)="openMenu()" ><mat-icon>build</mat-icon> Gestion des produits</a>
  <a mat-button  *ngIf="estAdmin()" mat-button routerLink="admin/liste-commandes" (click)="openMenu()" ><mat-icon>view_list</mat-icon> Liste des commandes</a>
  <a mat-button  *ngIf="estCo()" mat-button (click)="deconnexion()" (click)="openMenu()" > Déconnexion</a>
  <a mat-button  *ngIf="!estCo()" mat-button routerLink="connexion" (click)="openMenu()"> Connexion</a>
</div>


