.home-text-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0;
    width: 500px;
    padding: 25px;
    max-width: 100%;
    font-size: 17px;
}

.home-body {
    max-width: 100%;
    margin: auto;
    padding: 5px;

}

.home-img{
    width: 100%;
    height: 100%;
}

.home-div{
    display: flex;
    width: 1000px;
    margin: auto;
    background-color: rgba(97, 97, 117, 0.041);
    max-width: 100%;
}

.home-div-margin-bottom{
    margin-bottom: 70px;
    display: block;
    
}


.home-text-presentation span{
    margin: 10px 0;
    max-width: 100%;
}


@media (max-width:830px) {

    .home-div-margin-bottom{
        display: none;
    }
    .home-text-presentation{
        max-width: 100%;
        padding: 10px;
        width: 75%;
        margin: 10px auto;
    }
    .home-div{
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .home-body {
        padding: 0px;
    }
    
}