.example-card {
    max-width: 400px;
  }

.card-mon-profil{
    width: 800px;
    max-width: 100%;
    display: block;
    margin: auto;
}

@media (max-width:830px) {
    .card-mon-profil{
        width: 500px;
    }
}

@media (max-width:530px) {
    .card-mon-profil{
        width: 347px;
    }
}



.example-header-image {
    background-image: url('../../../../../assets/images/theme/user-picture.png');
    background-size: cover;
}

.mat-card-avatar {
    height: 70px;
    width: 70px;
}

.panier-table {
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 50px;
    border: 2px  ridge rgba(0,0,0);
    border-radius: 4px;
    width: 100%;
    margin: auto;
    display: block;
}
    


.panier-table th {
    padding: 12px;
    text-align: center;
    border-bottom: 2px  ridge rgba(0,0,0);
    margin-right: 10px;
    margin-left: 10px;
    width: 40%;
    }


.panier-table td {
    padding:12px;
    text-align: center;
}



        
.mat-card{
    color: black;
}