
  .container {
    padding: 50px;
  }
  
  
  .form-element {
    padding: 5px 0px 10px 2px;
  }
  
 
  :host {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
  }

  .mat-form-field {
    width: 100%;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .add-cookie-card {
    height: 100%;
  }