.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.div-recette {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-image: url('../../../assets/images/theme/recette.jpg');
  text-align: center;
  font-family: Copperplate;

}

.div-recette div{

  padding: 50% 10px;
  opacity: 1;

}




.cookies-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin: 15px auto;
  width: 1000px;
}

.cookies-list .mat-card{
  padding-bottom: 0;
  margin: 10px;
}


.cookie-img {
  margin-bottom: 0px;
}

.flex-buttons{
  display: flex;
  justify-content: space-around;
  width: auto;
}

.cookies-list .mat-card-title-group{
  display: block;
  font-family: Copperplate;
}

.cookies-list .mat-card-title{
  text-align: center;
  height: 35px;
  font-size: 35px;
  margin-bottom: 25px;
  border-bottom: 2px  ridge rgba(0,0,0,.12);
}

.cookies-list .mat-card-subtitle{
  text-align: center;
  font-size: 25px;
}

.cookie-prix{
    font-size: 25px;
    display: block;
    width: 60px;
    text-align: center;
    font-family: Copperplate;
    color: white;
    padding-top: 25px;
    margin: auto 0;
  }

.div-cookie-prix{
  display: block;
  margin-left: 150px;
  width: 60px;
  height: 50px;

  background-image: url('../../../assets/images/theme/old-price.png');
  background-size: 100%;
}

.div-cookie-prix img{
  max-width: 100%;
}
