
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Cookie chocolat</mat-card-title>
    <mat-card-subtitle>15€</mat-card-subtitle>
    <img mat-card-xl-image src="../../../assets/images/cookie.jpg" >
  </mat-card-title-group>

  <button mat-raised-button color="primary"  (click)="toggleShow()" type="checkbox" >Recette</button>

<div *ngIf="isShown" class="row container-fluid"  id="divshow" >
  <mat-card-content>
    1 oeuf
85 g sucre
85 g beurre doux
150 g farine
100 g pépites de chocolat
  </mat-card-content>
</div>

</mat-card>